body {
  position: relative;
  color: black;
  background: white;
  font-family: sans-serif;
  overflow-y: hidden;

  --eerie-black: #131515ff;
  --jet: #2b2c28ff;
  --persian-green: #339989ff;
  --middle-blue-green: #7de2d1ff;
  --snow: #fffafbff;
  --sand: #e4c3ad;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-btn-footer {
  float: right;
}

.home-btn {
  margin: 5px;
  margin-right: 10vw;
}
