body {
  position: relative;
  color: black;
  background: white;
  font-family: sans-serif;
  overflow-y: hidden;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-btn-footer {
  float: right;
}

.home-btn {
  margin: 5px;
  margin-right: 10vw;
}
