@use './utils/button-variants.scss';
@use './utils/colors.scss';

.operation-dropdown {
  button {
    margin-left: 0px;
    font-size: 0.8em;
    padding: 4px;
  }

  .dropdown-menu {
    min-width: auto;
  }

  .dropdown-item {
    font-size: 0.8em;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.condition-box {
  padding: 5px;
  height: 100%;

  .row {
    margin: 0px 0px 0px 0px;
  }
  h4 {
    display: flex;
    align-items: center;
  }
}

.condition-list {
  width: auto;
}
.condition-item {
  width: auto;
  display: flex;
  margin: 5px 0px;
  margin-left: calc(var(--bs-gutter-x) * 0.5);

  button {
    margin: 0px 5px 0px 0px;
    font-size: 0.8em;
    padding: 4px;
  }

  .form-control {
    font-size: 0.8em;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 5px;
  }

  .add-condition-btn {
    @include button-variants.bootstrap-button(colors.$middle-blue-green);
  }

  .add-btn-table-value-inactive {
    margin-left: 0px;
  }

  .condition-input {
    width: 7em;
  }

  .dropdown-item {
    font-size: 0.8em;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .dropdown-menu {
    min-width: auto;
  }
  .condition-dropdown {
    button {
      @include button-variants.bootstrap-button(colors.$sand);
    }
  }

  .compare-dropdown {
    button {
      margin-left: 0;
      min-width: 3em;
      @include button-variants.bootstrap-button(colors.$sand);
    }
  }

  .deleteButton {
    width: 30px;
    margin-right: 0;
  }

  .edit-button {
    width: 30px;
    margin-left: 0;
  }

  p {
    margin: 0px 5px 0px 0px;
  }
}
