.execute-wrapper {
  height: 60vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.dropdown button {
  margin: 5px;
  min-width: 5em;
}

.procedure-code {
  white-space: break-spaces;
}

h6 {
  margin: 5px;
}
