.execute-wrapper {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.execute-footer {
  float: right;
}

.home-button {
  margin: 5px;
  margin-right: 10vw;
}

.dropdown {
  margin: 5px;
}
