@use './utils/colors.scss';

.history-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.history-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 50px;
}

.history-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  padding: 0 20px;
}
