.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d6d6d6;

  .menu-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    border-top: #000000 solid 3px;

    .recent-wrapper {
      flex-direction: column;
      width: 50vw;
      background-color: #808080;

      h2 {
        display: flex;
        justify-content: left;
        color: #b8b8b8;
      }
    }
    .launch-wrapper {
      flex-direction: column;
      width: 50vw;
      background-color: #ffffff;
    }
  }
}

h2 {
  display: inline-block;
}

h1 {
  margin: 5px;
}

.icon {
  margin: 5px;
}

.launch-button {
  margin: 5px;
  transition: none;
  stroke: none;
  color: #000000;
  background-color: #00000000;
  width: calc(50vw - 10px);
}

.launch-button:hover {
  transform: none;
}

.execute-button {
  margin: 1vw;
  position: absolute;
  right: 5%;
}
