.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #acacac;

  .menu-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;

    .recent-wrapper {
      flex-direction: column;
      width: 40vw;
      height: 100vh;
      background-color: #616161;

      .recent-list {
        display: flex;
        flex-direction: column;
        justify-content: left;
        color: #b8b8b8;
        background-color: #ffffff13;
      }
    }
    .launch-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60vw;

      h1 {
        padding-bottom: 10vh;
      }
    }
  }
}

h2 {
  display: inline-block;
}

h1 {
  margin: 5px;
}

.icon {
  margin: 5px;
}

.launch-button {
  margin: 5px;
  transition: none;
  stroke: none;
  color: #000000;
  background-color: #00000000;
  width: calc(50vw - 10px);
}

.launch-button:hover {
  transform: none;
}

.execute-button {
  margin: 1vw;
  position: absolute;
  right: 5%;
  bottom: 5%;
}
