@use './utils/colors.scss';

.recent-wrapper {
  background-color: colors.$snow;
  color: colors.$jet;
  width: 90vw;
  height: auto;
  overflow: hidden;
}

.table {
  text-align: center;
  width: 80%;
}

thead {
  background-color: colors.$sand;
}

th {
  border: 5px solid;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

tr {
  border: 5px solid;
}

td {
  border: 3px solid;
}

.deleteButton,
.buttonSelect {
  border: 5px;
  border-radius: 5px;
  margin: 0;
}

.buttonSelect:hover {
  background-color: lightgreen;
}

.deleteButton {
  border: 5px;
  border-radius: 5px;
  background-color: white;
}

.deleteButton:hover {
  background-color: rgb(247, 68, 68);
}
