@use './utils/colors.scss';

.recent-wrapper {
  background-color: colors.$snow;
  color: colors.$jet;
  width: 90vw;
  height: auto;
  overflow: hidden;
  border-radius: 0.375em;
}

.buttonSelect {
  border: 5px;
  border-radius: 5px;
  margin: 0;
}

.buttonSelect:hover {
  background-color: lightgreen;
}

.deleteButton {
  border: 5px;
  border-radius: 5px;
  margin: 0;
}

.deleteButton:hover {
  background-color: rgb(247, 68, 68);
}

.edit-button {
  background-color: inherit;
  border: 5px;
  border-radius: 5px;
}

.edit-button:hover {
  background-color: lightgreen;
}
