@use './utils/colors.scss';

.results-screen {
  background-color: colors.$snow;
  color: colors.$jet;
  width: auto;
  height: auto;
  overflow: hidden;
  border-radius: 0.375em;
  margin: auto;
}

.table-div {
  width: 80%;
  margin: auto;
}

.Results-Table {
  margin: auto;
  border-top: solid;
}

.Results-Table tr {
  border-bottom: 3px solid;
  border-left: none;
  border-right: none;
  text-align: center;
}

.Results-Table td {
  padding: 10px;
}

.homeButton {
  margin: 1em;
  float: right;
}

.Check {
  color: darkgreen;
  width: 2em;
}

.X {
  fill: red;
  width: 2em;
}
